*{
    box-sizing: border-box;
}

body{
}

.navbar{
    padding: 0;
}


.navbar-brand{
    background-color:#2e579b;
    color: #343a40;
    margin-left: 200px;
    padding: 10px;
}

.container{
    margin-top: 20px;
    padding: 10px;
    margin-bottom: 100px;
}

.contactContainer{
    margin-bottom: 225px;
}

.mainContent{
    background-color: #343a40;
}

.pageTitle{
    background-color: #2e579b;   
    padding-left: 20px;
    border-bottom: 2px solid grey;
}

h1{
    Color: #ffffff;
}

p{
    color: #ffffff;
}

.col-lg-4{
    padding: 10px;
}

.col-lg-8{
    padding: 20px;
}


.figure{
    width: auto;
}

.project{
    max-height: 200px;
}

.figure-caption{
    background-color: pink;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    color: black;
}

label{
    color: #ffffff;
}

.form-group{
    width: 100%;
}

#contactForm{
    padding-left: 86px;
}

form{
    width: 90%;
}

footer{
    background-color: #343a40; 
    text-align: center; 
    color: #422c2c;
    border-top: solid #2e579b 5px;
    height: 45px; 
    width: 100%;
    padding-top: 10px;
    z-index: 2;
}

@media screen and (max-width: 640px){
    .navbar-brand{
        margin-left: 25px;
    }
}