*{
    box-sizing: border-box;
}

body{
}

.navbar{
    padding: 0;
}


.navbar-brand{
    background-color:#2e579b;
    color: #343a40;
    margin-left: 200px;
    padding: 10px;
}


.container{
    margin-top: 20px;
    padding: 10px;
}

.mainContent{
    background-color: #343a40;
}

.pageTitle{
    background-color: #2e579b;   
    padding-left: 20px;
    border-bottom: 2px solid grey;

}

h1{
    Color: #ffffff;
}

p{
    color: #ffffff;
}

.col-lg-4{
    padding: 10px;
}

.col-lg-8{
    padding: 20px;
}

.project{
    padding-top: 10px;
}

.bottomRow{
    margin-bottom: 10px;
}

span{
    position: absolute;
    bottom: 8px;
    width: auto;
    text-align: center;
    z-index: 1;
    background-color: pink;
    font-weight: bold;
    padding: 10px;
    left: 10px;
    right: 10px;
}

label{
    color: #ffffff;
}

.form-group{
    width: 500px;
}

#contactForm{
    padding-left: 86px;
}

footer{
    background-color: #343a40; 
    text-align: center; 
    color: #422c2c;
    border-top: solid #2e579b 5px;
    height: 45px; 
    width: 100%;
    padding-top: 10px;
    z-index: 2;
}